html {
  height: auto;
}
body {
  height: auto;

}
#root {
  height: auto;

}
a {
  color: #000 !important;
  text-decoration: none
}
.app {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
header {
  height: 70px;
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5CCCCC;
}

header .logo {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #e3e3e3;
  align-self: flex-end;

}

.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
}
details summary::-webkit-details-marker {
  display: none;
}
:focus {
    outline: 0;
}
details summary {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e3e3e3;
}
.sections summary span {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.second_section{
  border-bottom: 1px solid #e3e3e3;
}
.sections summary:hover {
    background-color: #FFB476;
    color:white;
    cursor: pointer;
}
.topics {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.topics a {
  font-size:18px;
  padding: 10px 35px 15px 35px;
}

.topics a:hover {
  background-color: #ededed;
  cursor: pointer;
}

main {
  width: 79.8%;
  min-height: 90vh;
  border-left: 1px solid #e3e3e3;
}
main .content {
    width: 60%;
    padding-left: 120px;
    padding-top: 40px;
    padding-bottom: 20px;
}
main .content h1 {
  font-size: 34px;
  line-height: 35px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
main .content h2 {
  font-family: Arial,Helvetica,sans-serif;
  line-height: 33px;
  font-weight: 500;
}
main .content .line {
    width: 100%;
    border-bottom: 1.2px solid #e3e3e3;
    margin-bottom: 23px;
}
main .content p {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  line-height: 23px;
  white-space: normal;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 1.5;
}

main .content li {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  line-height: 23px;
  white-space: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

main .content img {
    width: 80%;
}
